<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <div class="field" id="searchform">
            <input type="text" id="searchterm" placeholder="Buscar productos, marcas" />
            <button type="button" id="search">Buscar!</button> <br>
            <i class="fa-solid fa-magnifying-glass"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
          </div> 
            
        <nav>  
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li> <br>
            </ul>
            
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main> 
        <section>
            <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>

        <section> 
        
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SamrtTV Samsung 43"</h4>    
        </section>

        <section>
            <h3>Ofertas</h3>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <i class="fa-solid fa-truck"></i>
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SamrtTV Samsung 43"</h4>
        </section>       
    </main>

    <footer>
        <div>
            <h3>Pagá con tarjeta de crédito o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>               

        <div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrd@ en Mercado Liebre tenés envíos gratis
               en miles de productos. Es un beneficio de Mercado Punots</p>  
        </div>
        
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¿Devolvelo! En mercado Liebre, no hay
               nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div> 
        
        <div>
            <p>Copyright &#169 1999-2020 Mercado Liebre S.R.L.</p>
        </div>         
    
    </footer>
</body>

</html>